*.opensdf
CHelpLib/*.sdf
CHelpLib/*.suo
CHelpLib/ipch/*
CHelpLib/ipch
CHelpLib/Debug/*
CHelpLib/Debug
CHelpLib/Release/*
CHelpLib/Release
CHelpLib/CHelpLib/Debug/*
CHelpLib/CHelpLib/Debug
CHelpLib/CHelpLib/Release/*
CHelpLib/CHelpLib/Release
CHelpLib/CHelpLib/*.user

UnitTests/*.sdf
UnitTests/*.suo
UnitTests/ipch/*
UnitTests/ipch
UnitTests/Debug/*
UnitTests/Debug
UnitTests/Release/*
UnitTests/Release
UnitTests/UnitTests/Debug/*
UnitTests/UnitTests/Debug
UnitTests/UnitTests/Release/*
UnitTests/UnitTests/Release
UnitTests/UnitTests/*.user
